<!DOCTYPE html>
<html>
<head>
<meta name="viewport" >
<style>

</style>
</head>
<body>

<h3>Hotel Reservation Form</h3>

<div class="container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="country">Reservation Type</label>
    <select id="country" name="country"  [(ngModel)]="selectedField.resType"  required>
      <option value="room/suite"disabled selected>Select Room/Suite</option>
      <option value="Room">Room</option>
      <option value="Suite">Suite</option>
    </select>

    <label for="country">Number of room/suite</label>
    <select id="country" name="country" [(ngModel)]="selectedField.Roomcount" required>
      <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
    </select>

    <label for="country">Number of persons</label>
    <select id="country" name="country" [(ngModel)]="selectedField.Personcount" required>
      <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
    </select>

    <label for="country">Number of children</label>
    <select id="country" name="country" [(ngModel)]="selectedField.Childrencount" required>
      <option value="australia" selected>0</option>
      <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
    </select>

    <label for="country">Restaurant Facilities</label>
    <select id="country" name="country" [(ngModel)]="selectedField.Restfac"  required>
      <option value="australia" disabled selected>Do you want restaurant facilities?</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    
    <p>Total fare:{{cost}}</p> 

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
